<div class="container-fluid noPadding h-100 d-flex flex-column" >
  <app-window-control class="d-flex bg-dark justify-content-end" style="z-index:900"></app-window-control>
  <app-navbar class="navbar navbar-dark navbar-expand-lg bg-dark d-flex"></app-navbar>
  <app-viewport class="row p-0 m-0 flex-fill align-self-stretch "></app-viewport>
  <app-leftbar [@leftBarAnimation]="isLeftBarOpen ? 'visible' : 'hidden'" class="leftbar bg-dark text-white d-flex" style="z-index:700" (openBarRequest)="toggle(1)" ></app-leftbar>
  <app-rightbar [@rightBarAnimation]=" isRightBarOpen ? 'visible' : 'hidden'" class="rightbar bg-dark text-white d-flex" (openBarRequest)="toggle(2)" style="z-index:700"></app-rightbar>
</div>
